/* Yeni Oyun kodları */

body {
    background-color: #1a1a1a;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#message {
    font-size: 14px;
}

.return-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.return-button:hover {
    opacity: 1;
}

.return-button:focus {
    outline: none;
}

.return-button:active {
    transform: scale(0.9);
}
