.container {
    animation: fade-in 2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

@keyframes fade-in {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

.title {
    font-size: 2rem;
    color: #FF9900;
    margin-bottom: 1rem;
    height: 95px;
    right: 1px;
}

.description {
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
}
