body {
    background-color: #1a1a1a;
    color: #f81e1e;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 400px;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.quit-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #777777;
    color: #ffffff;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial Rounded MT Bold", sans-serif;
}

.quit-button:hover {
    background-color: #999999;
}
